

{% block conteudo %}
    <form class="form-group center-block text-center"  style="" id="concluirCompra">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Importante!</h4>
            <p>
                O ingresso Ticket deve ser validado até 20 minutos antes do evento, sendo o mesmo disponibilizado para venda a terceiros após prazo pré estabelecido.</p>

        </div>

    </form>
{% endblock %}
