{% extends "master.twig" %}



{% block conteudo %}
    <div class="row mx-5 my-5" align="center">
            <div class="col-sm-6 col-md-6 mb-6" align="center">
                    <img class="card-img-top" src="http://localhost/img/publicar.gif" alt="Card image cap">
                    <h12 class="card-title" >PUBLIQUE SEU INGRESSO </h12>
                <p>Você decide por quanto quer vendê-lo. Há milhares de compradores em todo países!</p>
            </div>
        <div class="col-sm-6 col-md-6 mb-6" align="center">
            <img class="card-img-top" src="http://localhost/img/pagamento.gif" alt="Card image cap">
            <h12 class="card-title" >PAGAMENTO </h12>
            <p>O pagamento é realizado momentos antes do evento, e a validação é realizada a partir do QRCode gerado.</p>
        </div>
    </div>

{% endblock %}

